<section class="advantage" id="advantage">
  <div class="container advantage-container">
    <h2 class="advantage-title">OUR ADVANTAGE</h2>

    <p class="advantage-text">
      Patented window technology protects your home in any weather and is
      guaranteed and with a Lifetime Warranty.
    </p>

    <div class="advantage-gallery">
      <!-- LEFT -->
      <div
        class="gallery-item gallery-item--left gallery-item--with-badge"
        data-aos="fade-down"
        data-aos-delay="900"
        data-aos-duration="900"
      >
        <img
          src="./img/advantage/advantage-1-2x.webp"
          alt="Window replacement"
        />

        <div class="badge">
          <svg class="badge-bg" viewBox="0 0 290 177" aria-hidden="true">
            <use href="./img/sprite.svg#highlight-badge" />
          </svg>

          <span class="badge-text">
            whole home<br />
            replacement<br />
            ≈ 8 hours
          </span>
        </div>
      </div>

      <!-- CENTER -->
      <div
        class="gallery-item gallery-item--center"
        data-aos="fade-up"
        data-aos-delay="0"
        data-aos-duration="700"
      >
        <img
          src="./img/advantage/advantage-2-2x.webp"
          alt="Installation process"
        />
      </div>

      <!-- RIGHT -->
      <div
        class="gallery-item gallery-item--right"
        data-aos="fade-up"
        data-aos-delay="950"
        data-aos-duration="800"
      >
        <img src="./img/advantage/advantage-3-2x.webp" alt="Finished window" />
      </div>
    </div>

    <p class="advantage-bottom-text">
      The new generation of window glass and construction make window
      replacement an essential update for many households. This clever and
      affordable upgrade increases home value, plus
      <span
        >replacing your windows and doors with New Energy Efficient models make
        a HUGE improvement to your home’s comfort</span
      >
      by eliminating drafts, leeks, window cloudiness and mold. Manufactured in
      here at home in Toronto, Ontario, Optima‘s Whole-Home Window Replacement
      installs in under 8 hours*!
    </p>
  </div>
</section>
