<section class="benefits" id="Why">
  <div class="container benefits-container">
    <h1 class="benefits-title">Benefits of working <span>with us</span></h1>
    <ul class="benefits-list">
      <li class="benefits-list-item">
        <img
          src="./img/benefits/benefits-1.webp"
          alt="good fittings"
          class="benefits-img"
          width="125px"
          height="142px"
        />
        <h2 class="benefits-subtitle">Get back up to $250 per window</h2>
        <p class="Benefits-text">
          We carry ENERGY STAR® 2021 Most Efficient certified Windows and Doors
          that qualify for the maximum amount redeemable under the Canada
          Greener Homes Grant
        </p>
      </li>
      <li class="benefits-list-item">
        <img
          src="./img/benefits/benefits-2.webp"
          alt="savings piggy bank"
          class="benefits-img"
          width="166px"
          height="131px"
        />
        <h2 class="benefits-subtitle">Financing Available</h2>
        <p class="Benefits-text">
          We offer a few fast, flexible, and easy ways to pay for your window
          replacement project. Payment deferral for 3, 6, or 12 months is
          available. Payments starting at just $39 per month.
        </p>
      </li>
      <li class="benefits-list-item">
        <img
          src="./img/benefits/benefits-3.webp"
          alt="high-quality window"
          class="benefits-img"
          width="91px"
          height="118px"
        />
        <h2 class="benefits-subtitle">Lifetime warranty</h2>
        <p class="Benefits-text">
          We are confident in the durability of our windows and doors! Any
          components that fail for any reason, will be promptly replaced or
          repaired.
        </p>
      </li>
    </ul>
  </div>
</section>
