<section class="canada" id="canada">
  <div class="container canada-container">
    <h2 class="canada-title">CANADA GREENER HOMES GRANT</h2>

    <p class="canada-text">
      Optima Windows and Doors is an approved installer for The Greener Homes
      Grant. With our new Energy Star 2021 certified windows and doors, you can
      forget about window drafts, heat loss, and mold.
    </p>
  </div>

  <!-- декоративные листья -->
  <img
    src="./img/canada/leaf-1-1x.webp"
    srcset="./img/canada/leaf-1-1x.webp 1x, ./img/canada/leaf-1-2x.webp 2x"
    class="leaf leaf-1"
    alt=""
    aria-hidden="true"
  />

  <img
    src="./img/canada/leaf-2-1x.webp"
    srcset="./img/canada/leaf-2-1x.webp 1x, ./img/canada/leaf-2-2x.webp 2x"
    class="leaf leaf-2"
    alt=""
    aria-hidden="true"
  />

  <img
    src="./img/canada/leaf-3-1x.webp"
    srcset="./img/canada/leaf-3-1x.webp 1x, ./img/canada/leaf-3-2x.webp 2x"
    class="leaf leaf-3"
    alt=""
    aria-hidden="true"
  />

  <img
    src="./img/canada/leaf-4-1x.webp"
    srcset="./img/canada/leaf-4-1x.webp 1x, ./img/canada/leaf-4-2x.webp 2x"
    class="leaf leaf-4"
    alt=""
    aria-hidden="true"
  />
</section>
