<section class="customer">
  <div class="container customer-container">
    <h1 class="customer-title">customer reviews</h1>

    <ul class="customer-list">
      <li class="customer-list-item">
        <p class="quotes outline">“</p>
        <p class="reviews-text">
          “We heard about Optima through our neighbor across the park. They had
          a sign up, we saw the work that was done, and we were really happy
          with it and that’s when we called. Meeting Chris, the salesperson, and
          getting all the information, - we were really satisfied with what he
          was able to present to us. We love the style of the windows, we love
          the color and we love how quiet it is inside. And the heat… we’ve
          noticed that we don’t need to have our furnace turned up high to
          maintain the house temperature.“
        </p>
        <p class="author-text">Donna and Trevor, Milton</p>
      </li>

      <li class="customer-list-item">
        <p class="quotes filled">“</p>
        <p class="reviews-text">
          "I received 3 quotes and awarded Optima Windows to replace all windows
          in our home. They were competitively priced and accommodating to ALL
          our custom requests."
        </p>
        <p class="author-text">David Nicholson, Oakville</p>
      </li>

      <li class="customer-list-item">
        <p class="quotes outline">“</p>
        <p class="reviews-text">
          “We have received several quotes and spent a lot of time entertaining
          different company representatives. We found that Optima has the
          highest quality windows for the best value. After the products were
          installed we couldn’t be any happier. If you are in the market for
          high-quality windows and doors, don’t look any further than Optima
          windows and doors. My son is replacing his windows with them now.”
        </p>
        <p class="author-text">Ruth, Toronto</p>
      </li>
    </ul>
  </div>
</section>
