<footer class="footer">
  <div class="container footer-container">
    <!-- ================= CONTENT ================= -->
    <div class="footer-content">
      <!-- LEFT -->
      <div class="footer-left">
        <h2 class="footer-title">
          LEAVE THE APPLICATION,<br />
          <span>WE WILL CALL YOU</span>
        </h2>

        <p class="footer-desc">
          Patented window technology protects your home in any weather and is
          guaranteed.
        </p>

        <form class="footer-form">
          <div class="form-group">
            <label class="footer-label">Your phone</label>
            <input
              type="tel"
              placeholder="Enter the phone number"
              class="footer-input"
            />
          </div>

          <div class="form-group">
            <label class="footer-label">Your name</label>
            <input
              type="text"
              placeholder="Enter your name"
              class="footer-input"
            />
          </div>
        </form>
      </div>

      <!-- RIGHT -->
      <div class="footer-right">
        <div class="hand-phone">
          <img
            src="./img/footer/hand-with-phone-1x.webp"
            srcset="./img/footer/hand-with-phone-2x.webp 2x"
            alt="Hand holding phone"
            class="hand-img"
          />

          <!-- PHONE SCREEN -->
          <div class="phone-screen">
            <svg class="leav-icon">
              <use href="./img/sprite.svg#icon-leav"></use>
            </svg>

            <div class="phone-optima">Optima</div>
            <div class="phone-number">(647) 952-2191</div>

            <button class="phone-btn">CALL ME</button>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-trigger">
      <span>Follow us</span>
    </div>

    <!-- ================= SOCIAL BLOCKS ================= -->
    <div class="footer-social-blocks">
      <!-- LEFT -->
      <div class="social-block instagram">
        <svg class="social-icon">
          <use href="./img/sprite.svg#icon-instagram"></use>
        </svg>
        <p class="social-followers">1k followers</p>
      </div>

      <!-- CENTER -->
      <div class="social-block facebook is-main">
        <h2 class="title-social">Follow us</h2>

        <svg class="social-icon">
          <use href="./img/sprite.svg#icon-facebook"></use>
        </svg>

        <p class="social-followers">1k followers</p>

        <p class="footer-bottom">
          © 2021 Optima windows and doors.<br />
          All rights reserved.<br />
          (647) 952-2191
        </p>
      </div>

      <!-- RIGHT -->
      <div class="social-block youtube">
        <svg class="social-icon">
          <use href="./img/sprite.svg#icon-youTube"></use>
        </svg>
        <p class="social-followers">1k followers</p>
      </div>
    </div>
  </div>
</footer>
