<footer class="footer" id="contacts">
  <div class="container footer-container">
    <!-- ================= CONTENT ================= -->
    <div class="footer-content">
      <!-- LEFT -->
      <div class="footer-left">
        <h2 class="footer-title">
          LEAVE THE APPLICATION,<br />
          <span>WE WILL CALL YOU</span>
        </h2>

        <p class="footer-desc">
          Patented window technology protects your home in any weather and is
          guaranteed.
        </p>

        <form class="footer-form" id="footerForm">
          <div class="form-group">
            <label class="footer-label">Your phone</label>
            <input
              type="tel"
              placeholder="Enter the phone number"
              class="footer-input"
              required
              pattern="[0-9]{12}"      
               />        
    <p class="input-error">The phone number must contain exactly 12 digits,for example XX(XXX)XXXXXXXX</p>
          </div>

          <div class="form-group">
            <label class="footer-label">Your name</label>
            <input
              type="text"
              placeholder="Enter your name"
              class="footer-input"
              required
      minlength="4"
      maxlength="64"
      title="The name must contain 4 to 64 characters."
      pattern="[A-Za-zА-Яа-яЇїІіЄєҐґ\s'-]+"
               />
               <p class="input-error">The name must contain 4 to 64 characters</p>
          </div>
        </form>
      </div>

      <!-- RIGHT -->
      <div class="footer-right">
        <div class="hand-phone">
          <img
            src="./img/footer/hand-with-phone-1x.webp"
            srcset="./img/footer/hand-with-phone-2x.webp 2x"
            alt="Hand holding phone"
            class="hand-img"
          />

          <!-- PHONE SCREEN -->
          <div class="phone-screen">
            <svg class="leav-icon">
              <use href="./img/sprite.svg#icon-leav"></use>
            </svg>

            <div class="phone-optima">Optima</div>
            <div class="phone-number">(647) 952-2191</div>

            <button class="phone-btn" type="submit" form="footerForm">CALL ME</button>
          </div>

          <div class="phone-success hidden">
            <svg class="leav-icon">
              <use href="./img/sprite.svg#icon-leav"></use>
            </svg>

  <div class="success-check">
    <svg width="32" height="32">
      <use href="./img/sprite.svg#icon-check"></use>
    </svg>
  </div>

  <p class="success-text">Please <br/> expect call</p>
</div>
        </div>
      </div>
    </div>



    <!-- ================= SOCIAL BLOCKS ================= -->
    <div class="footer-social-blocks">
         
  <!-- SLOT 1 -->
  <div class="social-slot">
    <div class="footer-trigger">
      <span>Follow us</span>
    </div>
      <div class="social-block instagram">
        <svg class="social-icon">
          <use href="./img/sprite.svg#icon-instagram"></use>
        </svg>
        <p class="social titile">Instagram</p>
        <p class="social-followers">1k followers</p>
      </div>
  </div>

        <!-- SLOT 2 -->
  <div class="social-slot">
    <div class="footer-trigger">
      <span>Follow us</span>
    </div>
      <div class="social-block facebook is-main">
        <h2 class="title-social">Follow us</h2>

        <svg class="social-icon">
          <use href="./img/sprite.svg#icon-facebook"></use>
        </svg>
        <p class="social titile">Facebook</p>
        <p class="social-followers main">1k followers</p>

        <p class="footer-bottom">
          © 2021 Optima windows and doors.<br />
          All rights reserved.<br />
          (647) 952-2191
        </p>
      </div>
  </div>

      <!-- SLOT 3 -->
  <div class="social-slot">
    <div class="footer-trigger">
      <span>Follow us</span>
    </div>
      <div class="social-block youtube">
        <svg class="social-icon">
          <use href="./img/sprite.svg#icon-youTube"></use>
        </svg>
        <p class="social titile">Youtube</p>
        <p class="social-followers">1k followers</p>
      </div>
    </div>
 
    </div>
</footer>
