<!-- Модалка с городами -->
<div class="geo-backdrop hidden" id="geoModal">
  <div class="geo-modal">
    <button class="geo-close" aria-label="Закрыть">
      <svg width="16" height="16">
        <use href="./img/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>

    <div class="geo-header">
      <svg width="20" height="20">
        <use href="./img/sprite.svg#icon-Geo"></use>
      </svg>
      <h3 data-i18n="geo-title">The list of cities of presence</h3>
    </div>

    <p class="geo-text" data-i18n="geo-text">
      We work in and around all major cities in Southern Ontario including
      Toronto, Oakville, Mississauga, Brampton, Aurora, Barrie, Richmond Hill,
      Thornhill, Whitby, Maple, Newmarket, Guelph, Pickering, Georgina, Orillia,
      Uxbridge, Hamilton, Welland and the Niagara 🍁
    </p>
  </div>
</div>
