<!-- HERO -->
<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title" data-i18n="hero-title">
      Modern, <span>Energy Star certified</span> windows and doors
    </h1>
    <p class="hero-text" data-i18n="hero-text">
      Upgrade your home's energy efficiency backed by a lifetime warranty.
    </p>
    <a href="#" class="hero-location">
      <svg width="24" height="24" aria-hidden="true">
        <use href="./img/sprite.svg#icon-Geo"></use>
      </svg>
      <span data-i18n="hero-location">Our service area</span>
    </a>
  </div>
</section>
