<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      Modern,
      <span>Energy Star certified</span>
      windows and doors
    </h1>
    <p class="hero-text">
      Upgrade your home’s energy efficiency backed by a lifetime warranty.
    </p>

    <a href="#" class="hero-location">
      <svg width="24" height="24" aria-hidden="true">
        <use href="./img/sprite.svg#icon-Geo"></use>
      </svg>
      Our service area
    </a>
  </div>
</section>
