<div class="mobile-menu is-hidden" id="mobile-menu">
  <div class="mobile-menu-inner">
    <button class="mobile-close">
      <svg class="mobile-close-btn" width="8" height="8" aria-hidden="true">
        <use href="./img/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>

    <nav class="mobile-nav">
      <ul>
        <li><a href="#Why">Why replace</a></li>
        <li><a href="#advantage">Our Advantage</a></li>
        <li><a href="#technologies">Technologies</a></li>
        <li><a href="#contacts">Contacts</a></li>
      </ul>
    </nav>

    <a href="tel:6479522191" class="mobile-phone"> (647) 952-2191 </a>

    <button class="btn mobile-call">Call me</button>
  </div>
</div>
