<section class="reasons">
  <div class="container reasons-container">
    <h2 class="reasons-title">When and why replace windows and doors?</h2>

    <p class="reasons-text">
      If you are experiencing one or more of the following problems, it's time
      to replace or repair your windows to reduce your energy costs
    </p>

    <div class="reasons-gallery">
      <!-- 1 -->
      <div
        class="reasons-card"
        data-aos="fade-down"
        data-aos-delay="200"
        data-aos-duration="900"
      >
        <img src="./img/reasons/reasons-1-2x.webp" alt="Cloudiness and mold" />

        <div class="reason-icon">
          <svg>
            <use href="./img/sprite.svg#icon-drop"></use>
          </svg>
        </div>

        <p class="reason-text">Cloudiness, mold</p>
      </div>

      <!-- 2 -->
      <div
        class="reasons-card"
        data-aos="fade-up"
        data-aos-delay="0"
        data-aos-duration="700"
      >
        <img src="./img/reasons/reasons-2-2x.webp" alt="High heat cost" />

        <div class="reason-icon">
          <svg>
            <use href="./img/sprite.svg#icon-flame"></use>
          </svg>
        </div>

        <p class="reason-text">High heat cost</p>
      </div>

      <!-- 3 -->
      <div
        class="reasons-card"
        data-aos="fade-down"
        data-aos-delay="300"
        data-aos-duration="1000"
      >
        <img src="./img/reasons/reasons-3-2x.webp" alt="Warping frames" />

        <div class="reason-icon">
          <svg>
            <use href="./img/sprite.svg#icon-lightning"></use>
          </svg>
        </div>

        <p class="reason-text">Warping, rotting frames</p>
      </div>

      <!-- 4 -->
      <div
        class="reasons-card"
        data-aos="fade-up"
        data-aos-delay="150"
        data-aos-duration="850"
      >
        <img src="./img/reasons/reasons-4-2x.webp" alt="Peeling paint" />

        <div class="reason-icon">
          <svg>
            <use href="./img/sprite.svg#icon-lightning"></use>
          </svg>
        </div>

        <p class="reason-text">Peeling paint</p>
      </div>
    </div>
  </div>
</section>
