<section class="reviews">
  <div class="container reviews-container">
    <ul class="reviews-list">
      <!-- CARD 1 -->
      <li class="review-card">
        <div class="review-stars">
          <svg class="star"><use href="./img/sprite.svg#icon-Star"></use></svg>
          <svg class="star"><use href="./img/sprite.svg#icon-Star"></use></svg>
          <svg class="star"><use href="./img/sprite.svg#icon-Star"></use></svg>
          <svg class="star"><use href="./img/sprite.svg#icon-Star"></use></svg>
          <svg class="star"><use href="./img/sprite.svg#icon-Star"></use></svg>
        </div>

        <p class="review-text">
          Upon conducting initial “market research” (we checked a few local
          businesses) in summer 2021, we chose “Optima Windows and Doors” for
          the best value and care. Chris Z. spent a few hours in our house
          explaining every little detail about the work to be done, finance
          options, answered all our questions, and was available on phone.
        </p>

        <div class="review-footer">
          <p class="review-author">Igor Kolomiets</p>
          <p class="review-date">2 months ago</p>
        </div>
      </li>

      <!-- CARD 2 -->
      <li class="review-card">
        <div class="review-stars">
          <svg class="star"><use href="./img/sprite.svg#icon-Star"></use></svg>
          <svg class="star"><use href="./img/sprite.svg#icon-Star"></use></svg>
          <svg class="star"><use href="./img/sprite.svg#icon-Star"></use></svg>
          <svg class="star"><use href="./img/sprite.svg#icon-Star"></use></svg>
          <svg class="star"><use href="./img/sprite.svg#icon-Star"></use></svg>
        </div>

        <p class="review-text">
          We heard about Optima through our neighbor across the park. They had a
          sign up, we saw the work that was done, and we were really happy with
          it and that’s when we called. Meeting Chris, the salesperson, and
          getting all the information — we were really satisfied with what he
          was able to present to us. We love the style of the windows, we love
          the color.
        </p>

        <div class="review-footer">
          <p class="review-author">Donna and Trevor, Milton</p>
          <p class="review-date">2 months ago</p>
        </div>
      </li>

      <!-- CARD 3 -->
      <li class="review-card">
        <div class="review-stars">
          <svg class="star"><use href="./img/sprite.svg#icon-Star"></use></svg>
          <svg class="star"><use href="./img/sprite.svg#icon-Star"></use></svg>
          <svg class="star"><use href="./img/sprite.svg#icon-Star"></use></svg>
          <svg class="star"><use href="./img/sprite.svg#icon-Star"></use></svg>
          <svg class="star"><use href="./img/sprite.svg#icon-Star"></use></svg>
        </div>

        <p class="review-text">
          We’re at 10 years old builders’ windows and had all kinds of issues
          with them. Hired Optima Windows and Doors to replace just two windows
          and were amazed by the difference between the old ones and the ones
          that they installed. We have decided to replace the rest of the
          windows in our house with Optima. Great price, great quality, great
          team!
        </p>

        <div class="review-footer">
          <p class="review-author">Gaptil Good</p>
          <p class="review-date">2 months ago</p>
        </div>
      </li>
    </ul>
  </div>
</section>
