<section class="technology" id="technologies">
  <div class="container technology-container">
    <h1 class="technology-title">SUPERIOR TECHNOLOGY</h1>

    <p class="technology-text">
      Replacing windows and doors with new energy-efficient models will save up
      to 50% on heating and cooling costs, and make your home feel more
      comfortable
    </p>

    <div class="technology-gallery">
      <!-- Карточка 01 -->
      <div class="technology-card" data-aos="fade-up" data-aos-delay="200">
        <img
          src="./img/technology/technology-1-2x.webp"
          alt="Low-E Glass illustration"
          width="192"
          height="122"
          loading="lazy"
        />
        <h2 class="technology-subtitle">Low-E Glass</h2>
        <p class="technology-card-text">
          Reflects solar rays in the summer and retains infrared rays in the
          winter, helping to heat your home. Optima Windows & Doors currently
          uses a 5th generation Low-E product.
        </p>
        <p class="card-number">01</p>
      </div>

      <!-- Карточка 02 -->
      <div class="technology-card" data-aos="fade-up" data-aos-delay="400">
        <img
          src="./img/technology/technology-2-2x.webp"
          alt="Premium Vinyl illustration"
          width="185"
          height="128"
          loading="lazy"
        />
        <h2 class="technology-subtitle">Premium Vinyl</h2>
        <p class="technology-card-text">
          We build heavy-duty windows using premium, surgical-grade vinyl with
          no fillers or re-grind. This guarantees durability without warping,
          fading, or loss of performance.
        </p>
        <p class="card-number">02</p>
      </div>

      <!-- Карточка 03 -->
      <div class="technology-card" data-aos="fade-up" data-aos-delay="600">
        <img
          src="./img/technology/technology-3-2x.webp"
          alt="Advanced Spacer System illustration"
          width="214"
          height="145"
          loading="lazy"
        />
        <h2 class="technology-subtitle">Advanced Spacer System</h2>
        <p class="technology-card-text">
          Any use of aluminum in window construction results in heat loss. To
          avoid this, Optima does not use any type of metal in its spacer
          systems.
        </p>
        <p class="card-number">03</p>
      </div>
    </div>
  </div>
</section>
