<section class="windows">
  <div class="container windows-container">
    <h1 class="windows-titile" data-i18n="windows-titile">
      Any types of windows
    </h1>
    <p class="windows-desc" data-i18n="windows-desc">
      Replacing windows and doors with new energy-efficient models will save up
      to 50% on heating and cooling costs, and make your home feel
    </p>
    <ul class="windows-list">
      <li class="windows-list-item">
        <a
          href="./img/windows/2x/windows-1-2x.webp"
          data-lightbox="windows-gallery"
        >
          <img
            src="./img/windows/windows-1-1x.webp"
            srcset="./img/windows/windows-1-1x.webp 1x"
            class="windows-img"
            alt="awning windows"
            width="176"
            height="171"
            aria-hidden="true"
          />
          <p class="windows-text" data-i18n="windows-text1">Awning Windows</p>
        </a>
      </li>
      <li class="windows-list-item">
        <a
          href="./img/windows/2x/windows-2-2x.webp"
          data-lightbox="windows-gallery"
        >
          <img
            src="./img/windows/windows-2-1x.webp"
            srcset="./img/windows/windows-2-1x.webp 1x"
            class="windows-img"
            alt="casement windows"
            width="176"
            height="171"
            aria-hidden="true"
          />
          <p class="windows-text" data-i18n="windows-text2">Casement Windows</p>
        </a>
      </li>
      <li class="windows-list-item">
        <a
          href="./img/windows/2x/windows-3-2x.webp"
          data-lightbox="windows-gallery"
        >
          <img
            src="./img/windows/windows-3-1x.webp"
            srcset="./img/windows/windows-3-1x.webp 1x"
            class="windows-img"
            alt="fixed windows"
            width="176"
            height="171"
            aria-hidden="true"
          />
          <p class="windows-text" data-i18n="windows-text3">Fixed Windows</p>
        </a>
      </li>
      <li class="windows-list-item">
        <a
          href="./img/windows/2x/windows-4-2x.webp"
          data-lightbox="windows-gallery"
        >
          <img
            src="./img/windows/windows-4-1x.webp"
            srcset="./img/windows/windows-4-1x.webp 1x"
            class="windows-img"
            alt="hung windows"
            width="176"
            height="171"
            aria-hidden="true"
          />
          <p class="windows-text" data-i18n="windows-text4">Hung Windows</p>
        </a>
      </li>
      <li class="windows-list-item">
        <a
          href="./img/windows/2x/windows-5-2x.webp"
          data-lightbox="windows-gallery"
        >
          <img
            src="./img/windows/windows-5-1x.webp"
            srcset="./img/windows/windows-5-1x.webp 1x"
            class="windows-img"
            alt="slider windows"
            width="176"
            height="171"
            aria-hidden="true"
          />
          <p class="windows-text" data-i18n="windows-text5">Slider Windows</p>
        </a>
      </li>
      <li class="windows-list-item">
        <a
          href="./img/windows/2x/windows-6-2x.webp"
          data-lightbox="windows-gallery"
        >
          <img
            src="./img/windows/windows-6-1x.webp"
            srcset="./img/windows/windows-6-1x.webp 1x"
            class="windows-img"
            alt="hopper windows"
            width="176"
            height="171"
            aria-hidden="true"
          />
          <p class="windows-text" data-i18n="windows-text6">Hopper Windows</p>
        </a>
      </li>
      <li class="windows-list-item">
        <a
          href="./img/windows/2x/windows-7-2x.webp"
          data-lightbox="windows-gallery"
        >
          <img
            src="./img/windows/windows-7-1x.webp"
            srcset="./img/windows/windows-7-1x.webp 1x"
            class="windows-img"
            alt="end vent slider windows"
            width="176"
            height="171"
            aria-hidden="true"
          />
          <p class="windows-text" data-i18n="windows-text7">
            End Vent Slider Windows
          </p>
        </a>
      </li>
      <li class="windows-list-item">
        <a
          href="./img/windows/2x/windows-8-2x.webp"
          data-lightbox="windows-gallery"
        >
          <img
            src="./img/windows/windows-8-1x.webp"
            srcset="./img/windows/windows-8-1x.webp 1x"
            class="windows-img"
            alt="double hung windows"
            width="176"
            height="171"
            aria-hidden="true"
          />
          <p class="windows-text" data-i18n="windows-text8">
            Double Hung Windows
          </p>
        </a>
      </li>
      <li class="windows-list-item">
        <a
          href="./img/windows/2x/windows-9-2x.webp"
          data-lightbox="windows-gallery"
        >
          <img
            src="./img/windows/windows-9-1x.webp"
            srcset="./img/windows/windows-9-1x.webp 1x"
            class="windows-img"
            alt="tilt &amp; turn windows"
            width="176"
            height="171"
            aria-hidden="true"
          />
          <p class="windows-text" data-i18n="windows-text9">
            Tilt & Turn Windows
          </p>
        </a>
      </li>
      <li class="windows-list-item">
        <a
          href="./img/windows/2x/windows-10-2x.webp"
          data-lightbox="windows-gallery"
        >
          <img
            src="./img/windows/windows-10-1x.webp"
            srcset="./img/windows/windows-10-1x.webp 1x"
            class="windows-img"
            alt="single slider windows"
            width="176"
            height="171"
            aria-hidden="true"
          />
          <p class="windows-text" data-i18n="windows-text10">
            Single Slider Windows
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
