/* ===== BENEFITS SECTION ===== */

.benefits {
  padding: 100px 0 90px;
}

.benefits-title {
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 900;
  font-size: 52px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #36162e;
  margin: 0 0 40px;
  text-align: center;
}

.benefits-title span {
  color: #ff6d3f;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.benefits-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  padding: 12px 24px;
  box-sizing: border-box;
  height: 360px;
  /* Жёсткие рамки в мобильке */
  /*width: 100%;*/
  max-width: 380px; /* ← не шире 340px */
  margin: 0 auto; /* центрируем */
}

.benefits-img {
  margin-bottom: 20px;
  max-width: 100%;
  /*height: auto;*/
}

.benefits-subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #36162e;
  margin: 10px 0 12px;
}

.benefits-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  color: #594057;
  margin: 0;

  /* Защита от растяжения */
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

/* TABLET ≥768px — 2 + 1 */
@media (min-width: 768px) {
  .benefits {
    padding: 120px 0 100px;
  }

  .benefits-title {
    font-size: 56px;
    text-align: left;
    max-width: 600px;
    text-align: center;
  }

  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    /*justify-content: center;*/
  }
  /* фиксируем КАЖДУЮ картинку */
  .benefits-list-item:nth-child(1) img {
    width: 125px;
    height: 142px;
    margin-bottom: 18px;
  }

  .benefits-list-item:nth-child(2) img {
    width: 166px;
    height: 131px;
    margin-bottom: 29px;
  }

  .benefits-list-item:nth-child(3) img {
    width: 91px;
    height: 118px;
    margin-bottom: 42px;
    /*width: 100%;*/
    /*max-width: 500px;*/
    /*margin: 40px auto 0;*/
    /*text-align: center;*/
    /*align-items: center;*/
  }

  .benefits-list-item {
    width: calc(50% - 15px);
    max-width: 420px;
    text-align: left;
    align-items: flex-start;
    padding: 20px 20px;
  }

  .benefits-subtitle {
    font-size: 24px;
  }

  .benefits-text {
    font-size: 18px;
  }
}

/* DESKTOP ≥1175px — 3 в ряд */
@media (min-width: 1175px) {
  .benefits {
    padding: 140px 0 110px;
  }

  .benefits-title {
    font-size: 68px;
    max-width: 700px;
    text-align: start;
  }

  .benefits-list {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 40px;
  }

  .benefits-list-item {
    width: 33.33%;
    max-width: 380px; /* жёсткая максимальная ширина */
    text-align: center;
    /*align-items: center;*/
    padding: 12px 20px;
  }

  .benefits-list-item:nth-child(3) {
    width: 33.33%;
    max-width: 380px;
    margin: 0;
  }

  .benefits-subtitle {
    font-size: 26px;
  }

  .benefits-text {
    font-size: 18px;
  }
}
