/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./benefits.css');
@import url('./canada.css');
@import url('./reviews.css');
@import url('./advantage.css');
@import url('./beter-view.css');
@import url('./reasons.css');
@import url('./technology.css');
@import url('./windows.css');
@import url('./customer.css');

@import url('./footer.css');

@import url('./mobile-menu.css');
@import url('./modal.css');
